.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/header/header-bg-img.png');
    width: 1920px;
    height: 1080px; 
}

.header__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circle{
    background-image: url('images/header/header-holder.png');
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.header__user-icons-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.header__social-icons-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.header__menu-item{
    margin: 30px 30px 30px 30px;
    color: white;
    text-decoration: none;
}

.header__btn{
    background: #0aa566;
    color:white;
    font-size: 24px;     
    border-radius:35px 35px 35px 35px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 70px; 

}

.header__user-icons-item{
    margin: 24px 24px 24px 24px;
}
.header__social-icons-item{
    margin: 24px 24px 24px 24px;
}