.header
{
    background-image: url('images/header/header-bg-img.png');
    width: 1920px;
    height: 1080px;
}

.header-top
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-icons__list
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-icons__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-top__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oval-button {
    background-color: green;
    border-radius: 35px 35px 35px 35px;
    color: white;
}


